<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="../include/header.css" />
    <link rel="stylesheet" href="./post-work.css" />
</head>

<body>
    <!-- <header data-include="../include/header.html"></header> -->
    <span>작품 등록하기</span>

    <section>
        <div class="input-wrapper">
            <span class="subtitle">
                작가명
            </span>
            <input class="input is-info" type="text" placeholder="Info input">
        </div>
        <div class="input-wrapper">
            <span class="subtitle">
                작가 소개
            </span>
            <input class="input is-info" type="text" placeholder="Info input">
        </div>
        <div class="input-wrapper">
            <span class="subtitle">
                작품명
            </span>
            <input class="input is-info" type="text" placeholder="Info input">
        </div>
        <div class="input-wrapper">
            <span class="subtitle">
                작품 소개
            </span>
            <input class="input is-info" type="text" placeholder="Info input">
        </div>
        <div class="input-wrapper">
            <span class="subtitle">
                작품 희망 가격
            </span>
            <input class="input is-info" type="text" placeholder="Info input">
        </div>
    </section>


    <script src="../include/include.js" defer></script>
</body>

</html>