<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>work-page</title>
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link rel="stylesheet" href="./products.css">
    <link rel="stylesheet" href="../include/header.css" />
</head>

<body>
    <header data-include="../include/header.html"></header>
    <section class="all-work-type">
        <section class="work-type">
            <span class="sub-title">
                <!--  js로 삽입 -->
                <!-- sfdd -->
            </span>
            <ul class="work-wrapper">
                <li class="work">
                    <div class="product-image">
                        <img src="" alt="상품사진">
                    </div>
                    <span class="work-info">
                        <span class="painter">작가이름</span>
                        <span> | </span>
                        <span class="product-name">작품이름</span>
                    </span>
                    <span class="price">작품가격</span>
                </li>
                <!--js로 추가-->
            </ul>
        </section>
    </section>

    <!-- <script src="./slide.js"></script> -->
    <script src="./products.js" type="module" defer></script>
    <script src="../include/include.js"></script>
    <script src="https://kit.fontawesome.com/58adb12a8e.js" crossorigin="anonymous"></script>
</body>

</html>