body {
    background-color: black;
}

.month-artist {
    color: white;
    text-align: center; 
    padding: 50px 0px;
}

.card {
    max-height: fit-content;
    border-radius: 30px;
}

.card-header {
    justify-content: center;
    padding: 10px 0px;
}

.content{
    text-align: center; 
}

.card-footer {
    padding: 10px 0px;
}