<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>이달의 작가 소개 페이지</title>
    <script src="../include/include.js" defer></script>
    <script src="https://kit.fontawesome.com/58adb12a8e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="month-artist.css">
    <link rel="stylesheet" href="/reset.css"/>
    <link rel="stylesheet" href="../include/header.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
    <header data-include="../include/header.html"></header>
    <h1>dkfs</h1>
    <h2 class= "month-artist">이 달의 작가</h2>
    <div class= "container">
      <div class="columns features">
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-header">
              <p class="is-size-3">
                  <b id="artist1-name">작가이름</b>
              </p>
            </div>
            <div class="card-image">
              <figure class="image is-4by3">
                <img id="artist1-logo" src="" alt="작가 로고">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4 id="artist1-slogan">작가 슬로건</h4>
                <p id="artist1-explain">작가 설명</p>
              </div>
              <div class="card-footer">
                <a href="#" class="card-footer-item">작가 페이지</a>
                <a href="#" class="card-footer-item">작품 보러가기</a>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-header">
              <p class="is-size-3">
                <b id="artist2-name">작가이름</b>
              </p>
            </div>
            <div class="card-image">
              <figure class="image is-4by3">
                <img id="artist2-logo" src="" alt="작가 로고">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4 id="artist2-slogan">작가 슬로건</h4>
                <p id="artist2-explain">작가 설명</p>
              </div>
              <div class="card-footer">
                <a href="#" class="card-footer-item">작가 페이지</a>
                <a href="#" class="card-footer-item">작품 보러가기</a>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-header">
              <p class="is-size-3">
                <b id="artist3-name">작가이름</b>
              </p>
            </div>
            <div class="card-image">
              <figure class="image is-4by3">
                <img id="artist3-logo" src="" alt="작가 로고">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4 id="artist3-slogan">작가 슬로건</h4>
                <p id="artist3-explain">작가 설명</p>
              </div>
              <div class="card-footer">
                <a href="#" class="card-footer-item">작가 페이지</a>
                <a href="#" class="card-footer-item">작품 보러가기</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>