<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>작가 소개 페이지</title>
    <script src="../include/include.js" defer></script>
    <script src="https://kit.fontawesome.com/58adb12a8e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="artist.css">
    <link rel="stylesheet" href="/reset.css"/>
</head>
<body>
    <header></header>
    <nav class="artist-profile">
        <img id="artist-logo" src = "", alt= "작가로고">
        <div>
            <h3 id="artist-slogan">작가슬로건</h2>
            <ul>
                <li id="artist-name"><b>작가이름</b></li>
                <li id="artist-sns"><a href= "">작가sns</a></li>
                <p id="artist-explain">작가 설명</p>
            </ul>
        </div>
    </nav>
    <nav class= "artist-work">
        <h3>작가 작품 모아보기</h3>
        <ul>
            <li><i class="fa-solid fa-chevron-left"></i></li>
            <!--작가들 작품 -->
            <li><i class="fa-solid fa-chevron-right"></i></li>
        </ul>
    </nav>
</body>
</html>