<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>작가 소개 페이지</title>
    <script src="../include/include.js" defer></script>
    <script src="https://kit.fontawesome.com/58adb12a8e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="artist.css">
    <link rel="stylesheet" href="/reset.css"/>
</head>
<body>
    <header></header>
    <section class="artist-profile">
        <div class="logo-container">
            <img id="artist-logo" src = "../../image/artist-logo/Joseph-Henry-Sharp.jpg", alt= "작가로고">
        </div>
        <div>
            <h3 id="artist-slogan">작가슬로건</h2>
            <ul>
                <li id="artist-name">작가이름</li>
                <li id="artist-sns"><a href="">작가sns</a></li>
            </ul>
            <p id="artist-explain">작가 설명</p>
        </div>
    </section>
    <section class= "artist-work">
        <div>
            <h3>작가 작품 모아보기</h3>
            <div class= "artist-work-container">
                
            </div>
        </div>
        
    </section>
</body>
</html>