<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./work-type.css">
    <link rel="stylesheet" href="../include/header.css" />
</head>

<body>
    <header data-include="./include/header.html"></header>
    <section class="work-type">
        <span class="sub-title">
            추상화
        </span>
        <ul class="work-wrapper">
            <li class="work">
                <img src="../../image/abstract/Louis Marcoussis/The Musician.jpg" alt="">
                <span class="work-info">
                    Henri Gaudier-Brzeska | Four Studies of Dancing Figures
                </span>
                <span> 1,200,000</span>
            </li>
            <li class="work">
                <img src="../../image/abstract/Henry Nielsen/Kvindeportræt.jpg" alt="">
                <span class="work-info">
                    Henry Nielsen | Kvindeportræt
                </span>
                <span> 1,200,000</span>
            </li>
            <li class="work">
                <img src="../../image/abstract/Louis Marcoussis/Musicien Dans Un Intérieur.jpg" alt="">
                <span class="work-info">
                    Louis Marcoussis | Musicien Dans Un Intérieur
                </span>
                <span> 1,200,000</span>
            </li>
            <li class="work">
                <img src="../../image/abstract/Louis Marcoussis/The Musician.jpg" alt="">
                <span class="work-info">
                    Henri Gaudier-Brzeska | Four Studies of Dancing Figures
                </span>
                <span> 1,200,000</span>
            </li>
            <li class="work">
                <img src="../../image/abstract/Henry Nielsen/Kvindeportræt.jpg" alt="">
                <span class="work-info">
                    Henry Nielsen | Kvindeportræt
                </span>
                <span> 1,200,000</span>
            </li>
            <li class="work">
                <img src="../../image/abstract/Louis Marcoussis/Musicien Dans Un Intérieur.jpg" alt="">
                <span class="work-info">
                    Louis Marcoussis | Musicien Dans Un Intérieur
                </span>
                <span> 1,200,000</span>
            </li>
        </ul>
    </section>

    <!-- 페이지네이션 추가 -->

    <script src="../include/include.js"></script>
    <script src="https://kit.fontawesome.com/58adb12a8e.js" crossorigin="anonymous"></script>

</body>

</html>