body {
    background-color: #b4cac6;
    height: 120vh;
    position: relative;
    color: white;
}

.wrapper {
    padding-top: 100px;
    margin: 0 200px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.page-left {
    width: 60%;
}

.page-right {
    width: 35%;
    font-size: 20px;
    text-align: right;
}

ul,
li {
    list-style: none;
    display: flex;
    position: relative;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

.painter-link {
    margin-right: 0;
    margin-left: 250px;
}

.page-right p {
    margin: 10px 0;
    color: white;
}

#work-type,
.work-price {
    font-size: 25px;
    font-weight: 600;
}

#work-name {
    font-size: 30px;
    font-weight: 700;
}

/* .work-type-header a {
    text-decoration: none;
    color: #82918e;
    background-color: #fff;
    border-radius: 10px;
     width: 133px;
    height: 25px; 
    padding: 5px;
    font-size: 13px;
    text-align: center;
    box-shadow: 1px 1px 1px #82918e;
} */

button {
    margin: 20px 0 0 10px;
    border: 3px solid white;
    background-color: white;
    border-radius: 10px;
    color: #82918e;
    cursor: pointer;
    font-size: 17px;
}