body {
  background-color: #b4cac6;
  height: 150vh;
  position: relative;
  color: white;
}

.wrapper {
  width: 100%;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-detail {
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.page-right {
  margin-top: 20px;
  width: 35%;
  font-size: 18px;
  text-align: right;
}

.page-right p {
  margin: 10px 0;
  color: white;
}

#work-type {
  font-size: 17px;
  font-weight: 600;
}

.work-price {
  font-size: 15px;
}

#work-name {
  font-size: 30px;
  font-weight: 700;
}

#img-container {
  width: 450px;
}

.work-info {
  display: flex;
}

.work-info li {
  margin-right: 50px;
  font-weight: 800;
}

.work-info li a {
  color: #fff;
}

.work-info li a:nth-of-type(3) {
  align-self: flex-end;
}

.painter-link {
  align-self: flex-end;
}

button {
  background-color: #fff;
  color: #697775;
  font-weight: 800;
  border-radius: 10px;
  border: none;
  width: 75px;
  height: 25px;
}

.work-buttons {
  margin-top: 30px;
}

.BuyNow,
.addCart {
  cursor: pointer;
}
