<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <form id="form">
        <!-- 여기서 email input 은 아직 토큰을 이용하지 못해서 임의로 넣었습니다 -->
        <!-- <input class=" is-medium search-input email" type="text" placeholder="유제 이메일을 입력하세요."> -->
        <input class="is-medium search-input name" type="text" placeholder="상품명을 입력하세요.">
        <input class="is-medium search-input image" type="file">
        <input class="is-medium search-input category" type="text" placeholder="상품 카테고리.">

        <input class="is-medium search-input content" type="text" placeholder="상품 소개.">
        <input class="is-medium search-input price" type="text" placeholder="상품 희망 가격.">

        <button class="is-medium search-button post-button" type="submit">
            <span class="material-icons">
                작품 등록
            </span>
        </button>
    </form>
    <script src="add-product.js"></script>
</body>

</html>