<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DécouvrirHeader</title>
    <script
      src="https://kit.fontawesome.com/58adb12a8e.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="sidemenu.css" />
    <!-- <link href="./reset.css" rel="stylesheet" /> -->
  </head>

  <body>
    <p class="menu-label">Account</p>
    <ul class="menu-list">
      <li><a>계정 관리</a></li>
    </ul>
    <p class="menu-label">Cart</p>
    <ul class="menu-list">
      <li><a>장바구니</a></li>
    </ul>
    <p class="menu-label">Order</p>
    <ul class="menu-list">
      <li><a>주문 조회</a></li>
    </ul>
  </body>
</html>
