body {
    background-color: black;
    height: 100vh;
    color: white;
}

.sidebar {
    margin-left: 20px;
    width: 150px;
    padding-top: 10px;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: white;
}

ul,
li {
  list-style: none;
  padding: 5px 0px;
}


.menu {
    width: 20%;
}

.menu-label {
    font-size: medium;
    margin: 10px 0px;
    padding: 0px;
}

.menu-list {
    font-size: medium;
    padding-left: 0px;
}

.menu-list li:hover {
    color: gainsboro;
    padding-left: 0px;
}