#container {
display: flex;
}

main {
    width:90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#cart-delete-buttons {
    display: flex;
    justify-content: end;
}

#cart-item-list {
    display: flex;
    flex-direction: column;
}

#cart-item {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#item-info {
display: flex;
flex-direction: column;
}

/* body {
    background-color: black;
    height: 100vh;
} */