<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
   
    <title>장바구니</title>
    <script src="../include/include.js" defer></script>
    <script src="https://kit.fontawesome.com/58adb12a8e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../include/header.css" />
    <link rel="stylesheet" href="../include/sidemenu.css" />
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    /> -->
    <link rel="stylesheet" href="./my-page.css" />
  </head>
  <body>
    <header data-include="../include/header.html"></header>
    <div id="container">
      <aside data-include="../include/sidemenu.html"></aside>
      <!--추가하면 됨.-->
    </div>
  </body>
</html>