<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  <title>마이페이지</title>
  <script src="../include/include.js" defer></script>
  <script src="https://kit.fontawesome.com/58adb12a8e.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../include/header.css" />
  <link rel="stylesheet" href="../include/sidemenu.css" />
  <link rel="stylesheet" href="./my-page.css" />
  <!-- Daum 주소 API 사용하기 위한 파일 -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

  <script src="./my-page-test.js" type="module" defer></script>

</head>

<body>
  <header data-include="../include/header.html"></header>
  <!-- <aside data-include="../include/sidemenu.html"></aside> -->
  <h1 class="subtitle is-4" id="securityTitle">회원정보 관리</h1>

  <!-- 로그인 폼(Form) -->
  <section class="main-wrapper">
    <div class="login-wrapper">
      <form>
        <span>회원정보</span>
        <div class="input-wrapper">
          <label class="label" for="fullNameInput">이름</label>
          <div class="control">
            <input class="input" id="fullNameInput" type="text" autocomplete="off" />


            <div class="field">
              <label class="label" for="passwordInput">비밀번호</label>
              <div class="control">
                <input class="input" id="passwordInput" type="password" autocomplete="off" />

              </div>
            </div>

            <div class="field">
              <label class="label" for="passwordConfirmInput">비밀번호 확인</label>
              <div class="control">
                <input class="input" id="passwordConfirmInput" type="password" autocomplete="off" />
              </div>
            </div>

            <label class="label" for="addressInput">주소</label>
            <div class="control">
              <input class="input" id="addressInput" type="text" autocomplete="off" />
            </div>
            <label class="label" for="phoneNumberInput">전화번호</label>
            <div class="control">
              <input class="input" id="phoneNumberInput" type="text" autocomplete="off" />
            </div>

            <!-- 해당 유저가 painter-user면 아래 페이지가 보임 -->
            <div id="painterInputs">
              <label class="label" for="painterNameInput">작가 이름</label>
              <div class="control">
                <input class="input" id="painterNameInput" type="text" autocomplete="off" />
              </div>

              <label class="label" for="introduceInput">작가 소개</label>
              <div class="control">
                <input class="input" id="introduceInput" type="text" autocomplete="off" />
              </div>
            </div>

            <button class="button button-submit is-info is-fullwidth js-modal-trigger" id="saveButton"
              data-target="modal-js-example">
              저장하기
            </button>

            <button class="button button-submit is-info is-fullwidth js-modal-trigger" id="withdrawButton"
              data-target="modal-js-example">
              회원탈퇴
            </button>

            <!-- 정보 수정을 완료하기 위해, 현재 비밀번호를 입력할 Modal 창 -->
            <div id="modal" class="modal">
              <div class="modal-background" id="modalBackground"></div>
              <div class="modal-content">
                <button class="delete is-large" id="modalCloseButton" aria-label="close"></button>
                <div class="box">
                  <p class="mb-3">현재 비밀번호를 입력해 주세요.</p>
                  <input class="input is-link mb-3" id="currentPasswordInput" type="password" placeholder=""
                    autocomplete="on" />
                  <button class="button is-link mt-5" id="saveCompleteButton" aria-label="close">
                    저장 완료하기
                  </button>
                </div>
              </div>
            </div>
      </form>

    </div>
  </section>

  <!-- <footer data-include="../include/footer.html"></footer> -->
</body>

</html>